body{
    background-image: url(IMG_20230301_105745.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-countainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 51, 255);
    backdrop-filter: blur(5px);
    background-color: hsla(104, 100%, 51%, 0.409)

}